.container{
    width:1200px;
    margin:auto;   
}
.banner-wrapper{
    display:flex;
}
.banner-left{
    
    flex-basis:50%;
    padding-top:40px;
}
.banner-right{

    flex-basis:50%;
}

.about-wrapper{
    display:flex;
    
}
.about-left{
    flex-basis:50%;

}
.about-right{
    flex-basis:50%;

}
.about-wrapper{
    height:400px;
    margin: 0 auto;
    
    
}
.topic-image{
    display:flex;
    
}
.topic-image{
    flex-basis:50%;
}

.portfolio-image{
    display:flex;
    flex-wrap:wrap;
    
}
.portfolio-images{
    flex-basis:25%; 
    margin:20px 20px;  
}
#main{
    flex-wrap: wrap;
}
#header h1{
    background-color:white;
    padding:14px 0;
    font-size:20px;

}
#banner{
    height:400px;
    background-color: rgb(209, 203, 197);
}
#banner h2
{
    font-size: 44px;

}
#banner p{
    font-size:30px;
}
#banner a{
    display:inline-block;
    padding:10px;
    border-radius:10px;
    text-decoration: none;
    background-color: rgb(103, 103, 199);
    color:white;
}
.banner-right{
    text-align: right;
}

.banner-right img{
    width:550px;
    padding-top:20px;
    
    
}
.about-wrapper{
    background-color:#f7f7f7f7;
    padding:30px;
    margin:40px 0; 
}
#about img{
    width:550px;
}
#about p{
    font-size:28px;
}
.about-right ul{
    font-size:25px;
    
}
#service{
    background-color: beige;
    height:550px;
}
#service p{
    font-size:20px;
}
.topic-image{
    padding:20px 10px
}
.topic-image{
    
    height:200px;
    justify-content: space-around;
    
    
}
.topic-image-1{    
    border-radius: 10px;
    background-color: rgb(213, 213, 221);
    width:200px;
    text-align: center;

    
}
.topic-image-1:hover{
    background-image: url("./image/-web-developer-logo-design.webp") ;
    background-size:cover;
    text-align:center;

}
.topic-image-1 a{
    display:inline-block;
    padding:10px;
    border-radius:10px;
    text-decoration: none;
    background-color: rgb(103, 103, 199);
    color:white;
    text-align: center;

}
.topic-image-2{
    margin:0 20px;
    border-radius:10px;
    background-color:rgb(213, 213, 221);
    width:200px;
    text-align: center;
}

.topic-image-2 a{
    display:inline-block;
    padding:10px;
    border-radius:10px;
    text-decoration: none;
    background-color: rgb(103, 103, 199);
    color:white;
    text-align: center;
}
.topic-image-2:hover{
    background-image: url("./image/-data-concept-vector.jpg") ;
    background-size:cover;
}

 
.topic-image-3{
    margin:0 20px;
    border-radius:10px;
    background-color:rgb(213, 213, 221);
    width:200px;
    text-align: center;
}
.topic-image-3 a{
    display:inline-block;
    padding:10px;
    border-radius:10px;
    text-decoration: none;
    background-color: rgb(103, 103, 199);
    color:white;
    text-align: center;
}
.topic-image-3:hover{
    background-image: url("./image/download.jpg") ;
    background-size:cover;

}
.topic-image-4{
    margin:0 20px;
    border-radius:10px;
    background-color:rgb(213, 213, 221);
    width:200px;
    text-align: center;
}
.topic-image-4 a{
    display:inline-block;
    padding:10px;
    border-radius:10px;
    text-decoration: none;
    background-color: rgb(103, 103, 199);
    color:white;
    text-align: center;
}
.topic-image-4:hover{
    background-image: url("./image/-web-developer-logo-design.webp") ;
    background-size:cover;
}

#footer{
    text-align:center;
    padding: 30px 0;
}